<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_head :: head">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<div id="content">
    <h2>Golf Croquet Terms</h2>

    <!-- Create a table of GlossaryTerm objects here -->
    <table class="croquet-glossary">
        <tr th:each="t : ${myTerms}">
            <td>
                <h3 th:text="${t.term}">TERM</h3>
                <h3 th:text="${t.definition}">DEFINITION</h3>
                <h3 th:text="${t.regulation}">REGULATION</h3>
            </td>
        </tr>
    </table>


</div>

</body>
</html>